
 

body{
	}

@media all and (max-width: 680px) {
.icon-button {
border-radius: 1.6rem;
font-size: 0.8rem;
height: 1.6rem;
line-height: 1.6rem;
width: 1.6rem;
  }
  .icon-button:hover span {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 1.6rem;
    margin: -0.8rem;
  }
  /* Icons */
  .icon-button i {
	  height: 1.6rem;
	  line-height: 1.6rem;
	  width: 1.6rem;
  }
  body {
	  padding: 10px;
  }
 
}

.bodyContainer{
	margin-top:100px;
	margin-bottom:100px;
}

.formContainer{
	margin-top: 100px;
}

.header.dark.scroll-top{
		background-color: transparent;
		background-color:rgba(255,255,255 0.9);
}
.header.light.scroll-top{
		background-color: transparent;
		background-color: rgba(0,0,0,0);
}
.header.dark{
		background-color: transparent;
		background-color: rgba(255,255,255,0.9);
}
.header.light{
		background-color: #000;
		background-color: rgba(0,0,0,0.8);
}
.header{
width: 100%;
position: absolute;
z-index: 991;
top: 41px;
transition: brackground-color 0.5s;
-webkit-transition: background-color 0.5s;
-webkit-transition-property: background-color;
-webkit-transition-duration:0.5s;
-webkit-transition-timing-function: initial;		
}
div {
display:block;
}
.header ul.navigation {
  padding: 0px;
  height: 42px;
  text-align: center;
 
  
}
.header ul.navigation li {
  margin-top: 3px;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2px;
}
.header ul.navigation li a {
  text-decoration: none;
  color: black;
  
}
.header ul.navigation li .dropdown {
  padding: 10px 33px;
  position: relative;
}
@media (max-width: 1199px) {
  .header ul.navigation li .dropdown {
    padding: 10px 22px;
  }
}
.header ul.navigation li .dropdown:hover > .dropdown-menu {
  display: inline-block;
}
.header ul.navigation li .dropdown.Home .dropdown-menu {
	width: 300px;
	height: 100px;
    }
.header ul.navigation li .dropdown.AboutUs .dropdown-menu {
  width: 410px;
  height: 100px;
}
.header ul.navigation li .dropdown.Artists .dropdown-menu {
  width: 400px;
  height: 100px;
}
.header ul.navigation li .dropdown.Group .dropdown-menu {
  width: 400px;
  height: 100px;
  right: 0px;
  left: auto;
}
.header ul.navigation li .dropdown.ViviBook .dropdown-menu {
  width: 400px;
  height: 100px;
  right: 0px;
  left: auto;
}
.header ul.navigation li .dropdown.AskUs .dropdown-menu {
  width: 400px;
  height: 17 5px;
  right: 0px;
  left: auto;
}
.header ul.navigation li .dropdown .dropdown-menu {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px 33px 23px 33px;
  display: none;
  top: 39px;
  z-index: 2;
  left: 0px;
  text-align: left;
  float: left;
  text-transform: none;
  font-weight: normal;
}
.header ul.navigation li .dropdown .dropdown-menu .col {
  display: inline-block;
  position: relative;
  font-size: 12px;
  background-image: url('/images/en/home/col-border.jpg');
  background-position: 10px left;
  background-repeat: no-repeat;
  padding-left: 28px;
  height: 185px;
  padding-right: 15px;
  float: left;
}
.header ul.navigation li .dropdown .dropdown-menu .col:first-child {
  background: none;
  padding-left: 0px;
}
.header ul.navigation li .dropdown .dropdown-menu .col .title {
  position: relative;
  text-transform: uppercase;
  text-decoration: underline;
  height: 27px;
}
.header ul.navigation li .dropdown .dropdown-menu .col .title a {
  text-transform: uppercase;
}
.header ul.navigation li .dropdown .dropdown-menu .col > a {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  display: block;
  text-transform: none;
  font-size: 11px;
  margin-bottom: 14px;
}
.header ul.navigation li .dropdown .dropdown-menu .col a.direct {
  text-transform: uppercase;
  text-decoration: underline;
  margin-bottom: 20px;
  font-size: 12px;
}
.header hr {
  margin: 0px;
  border: none;
  background-image: url('/images/en/home/hr.gif');
  height: 3px;
}
.header.dark.scroll.top{
	background-color: transparent;
	background-color: rgba(255,255,255,0);
}
.header.dark.scroll.top{
	background-color: transparent;
	background-color: rgba(0,0,0,0);
}
.header.dark {
	background-color:#fff;
	background-color:rgba(255,255,255,0.9);
}
.footer {
  clear: both;
  position: static;
  background-color: #000000;
  height: 238px;
  width: 100%;
  margin-top: 100px;
  
}
.footer ul {
  position: relative;
  display: inline-block;
  float: left;
  margin-right: 23px;
}
.footer img{
	margin-top:40px;
	height:159px;
	width:84.5px;
}
  .footer ul li {
    letter-spacing: 1px !important;
  }
}
.footer ul.company {
  padding-top: 38px;
  padding-left: 19px;
}
.footer ul.help {
  padding-top: 38px;
  padding-left: 70px;
}
.footer ul.quick-links {
  padding-top: 38px;
  padding-left: 84px;
}
.footer ul.trending {
  padding-top: 38px;
  padding-left: 80px;
}
.footer ul.social {
  padding-top: 38px;
  padding-left: 84px;
  font-size:2.5em;
}
.footer ul.social li {
  display: inline;
  margin-right: 10px;
}
.footer ul.social li.heading {
  display: list-item;
  margin-top: 0px;
  margin-bottom: 14px;
}
.footer ul li {
  margin-bottom: 2px;
  letter-spacing: 2px;
}
.footer ul li.heading {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 13px;
  margin-bottom: 9px;
}
.footer ul li a {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #999999;
  text-decoration: none;
  font-size: 10px;
}
.footer ul li a:hover {
  color: #ffffff;
}
#footerImg{
	height:56px;
	width: 56px;
}
.content .container {
  position: relative;
}
.titleImage{
}

.content .slider {
  /*height: 825px;*/
  position: relative;
  height: 1075px;
  overflow: hidden;
}
@media (min-width: 1680px) and (max-width: 1920px) {
  .content .slider {
    height: 940px;
  }
}
@media (min-width: 1348px) and (max-width: 1679px) {
  .content .slider {
    height: 755px;
  }
}
@media (min-width: 1200px) and (max-width: 1347px) {
  .content .slider {
    height: 672px;
  }
}
@media (max-width: 1199px) {
  .content .slider {
    height: 560px;
  }
}
.content .slider .slider-controls {
  position: absolute;
  width: 100%;
  height: 100%;
}
.content .slider .slider-controls .back {
  position: absolute;
  top: 50%;
  margin-top: -31px;
  margin-left: 40px;
  z-index: 100;
}
.content .slider .slider-controls .back img {
  transform: rotate(180deg);
  transform-origin: 50% 50%;
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -ms-transform-origin: 50% 50%;
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Safari and Chrome */
  -webkit-transform-origin: 50% 50%;
  /* Safari and Chrome */
}
.content .slider .slider-controls .forward {
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -31px;
  margin-right: 40px;
  z-index: 100;
}
.content .slider .slide {
  position: absolute;
  display: inline;
  z-index: 0;
  width: 100%;
  min-width: 1000px;
}



